@import "./theme.css";
@import "./fonts.css";
.timeline-container {
  background: rgb(0, 119, 182);
  background: linear-gradient(
    180deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(2, 62, 138, 1) 50%,
    rgba(3, 4, 94, 1) 100%
  );
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: var(--text-color);
}

.timeline-component {
  margin: 0 20px 20px 20px;
}
.timeline-component--bottom {
  margin-bottom: 0;
}

.timeline-component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline-date--right {
  text-align: right;
}

.timeline-middle {
  position: relative;
  background: white;
}
.timeline-point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: var(--text-color);
  border-radius: 50%;
}

.timeline-point--bottom {
  top: initial;
  bottom: 0;
  z-index: 100;
}

.timeline-title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}
.timeline-p {
  line-height: 1.5;
}
