:root {
  --primary-background: #90e0ef; /* Sky Blue */
  --ocean-color: #00b4d8; /* Ocean Blue */
  --ocean-second-color: #0096c7;
  --ocean-third-color: #0077b6;
  --ocean-forth-color: #023e8a;
  --deep-ocean: #03045e;
  --ocean-floor: #023047;
  --text-color: #ffffff; /* Cosmic white */
  --link-color: #8e24aa; /* Galactic purple */
  --link-hover-color: #fc9601; /* Solar yellow */
  --accent-color: #7b1fa2; /* Deep purple */
  --border-color: #757575; /* Asteroid gray */

  /* Font Sizes */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}
h2,
h3 {
  font-family: "Madimi One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--step-4);
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
