.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  list-style: none;
}
img {
  float: left;
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  background-color: var(--ocean-color);
  border-radius: 10px;
}
